<table>
  <th>Called</th>
  <th>Duration</th>
  <th>Cost</th>
  <% call_charges.calls.each do |call| %>
    <tr>
      <td><%= call.called %><</td>
      <td><%= call.duration %></td>
      <td><%= call.cost %></td>
    </tr>
  <% end %>
</table><br/>

Call Charge Total: <%= call_charges.total %><br/>
