<table>
  <th>Type</th>
  <th>Name</th>
  <th>Cost</th>
  <% package.subscriptions.each do |subscription| %>
    <tr>
      <td><%= subscription.type %></td>
      <td><%= subscription.name %></td>
      <td><%= subscription.cost %></td>
    </tr>
  <% end %>
</table><br/>

Package Total: <%= package.total %><br/>
